html, body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  color: #363535;
  line-height: 2.5rem;
}

header {
  width: 100%;
  background-image: url("/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  max-height: 25vh;
}

header img {
  width: 100%;
}

main {
  width: 100%;
  font-size: 1.6rem;
}

.logo {
  width: 100%;
  height: 110px;
  animation: fadein 2s;
}

.contact {
  background-color: #f6f5ef;
  background: linear-gradient(to bottom, #f0efea 0%,#f6f5f0 100%);
}


.grid {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 36px 24px;
  justify-content: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.banner {
  background-image: url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

h1 {
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 4.2rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: normal;
  line-height: 3.6rem;
}

footer {
  padding: 24px 16px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.weekday {
  padding-right: 10px;
}

@media(min-width: 800px) {
  .grid {
    flex-direction: row;
  }

  .column {
    flex: 1;
  }
}

a {
  color: #363535;
  text-decoration: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 16px;
  padding: 6px;
}

a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  opacity: 0.5;
}